---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Focus from "../components/Focus.astro";
import WhyUs from "../components/WhyUs.astro";
import Process from "../components/Process.astro";
import Services from "../components/Services.astro";
import Faq from "../components/Faq.astro";
import CtaBook from "../components/CtaBook.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Problem />
    <Focus />
    <WhyUs />
    <Process />
    <Services />
    <Faq />
    <CtaBook />
  </main>
  <Footer />
  <WhatsAppButton />
</Layout>
